= simple_form_for([@survey, @question]) do |f|
  .form-inputs
    = f.input :description
    = f.select :humanized_question_type, QuestionDecorator.type_options_for_select
    = f.hidden_field :survey_id

  .form-actions
    = f.button :submit