= simple_form_for([@survey, @question]) do |f|
  .form-inputs
    = f.input :description
    = f.select :qtype, QuestionDecorator.type_options_for_select
    = f.input :is_required
    = f.input :parent_id, collection: @survey.questions, value_method: :id, label_method: :description, prompt: "Please select a dependent question"
    = f.hidden_field :survey_id

    #dependent-options

    #question-options.hide
      = f.input :option_names, as: 'text', hint: 'Enter each choice on a separate line.'

  .form-actions
    = f.button :submit
