%p#notice= notice

%p
  %b Description:
  = @question.description
%p
  %b type:
  = @question.humanized_question_type

%ol#options-list
  - @question.options.each do |option|
    %li
      = option.name

= @question.edit_link

= @question.destroy_link