%h1 Question

%h4
  = @question.description

= simple_form_for([@question, @response]) do |f|
  .form-inputs
    = f.input :answer
    = f.hidden_field :question_id
    = f.hidden_field :user_id

  .form-actions
    = f.button :submit, 'Submit'
