%p#notice= notice

%p
  %b Title:
  = @survey.title
%p
  %b Description:
  = @survey.description

= @survey.participate_link

- if can? :manage, Survey
  = @survey.edit_link
  = @survey.destroy_link

- if can? :manage, Question
  = @survey.add_question_link

  %h3 Questions

  %table#questions-table.table.table-striped
    %tr
      %th Description
      %th Type
      %th Status
      %th Dependent question
      %th Dependent option
      %th Comparator

    - @questions.each_with_index do |question, index|
      %tr
        %td
          = question.description_with_number(index)
        %td
          = question.humanized_question_type
        %td
          = question.required_status
        %td
          = question.dependent_question
        %td
          = question.decorated_dependent_option
        %td
          = question.comparator_status